@model Fondos_Antiguos.Models.CatalogoModel

@{
    if (Model != null)
    {
        ViewData["Title"] = "Registro: " + @Model.ID;
    }
    else
    {
        ViewData["Title"] = "Registro no existe";
    }
}
<div class="card-body text-danger">
    @Html.ValidationMessage("")
</div>
<div class="container">
    @if (Model != null && !Model.ID.Equals(0))
    {

        <div class="row">
            <div class="col-12">
                <h4>@Html.DisplayFor(model => model.Signatura)</h4>
                <hr />
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <div id="navbarSupportedContent" aria-expanded="true">
                        <ul class="navbar-nav mr-auto">
                            @if (FaAuthorizeAttribute.IsAuthorized(User, "Catalogo", "Editar", Context))
                            {
                                @Html.ActionLink("Editar", "Editar", new { id = Model.ID, origen = Model.Origen }, new { @class = "btn btn-outline-secondary" });
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <dl class="row">
                    @Html.HiddenFor(model => model.ID)
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.Fecha.HasValue)
                        {
                            @Html.DisplayFor(model => model.Fecha)
                        }
                        else
                        {
                            string fechaSec = string.Empty;
                            if (Model.Mes.HasValue)
                            {
                                fechaSec = Model.Mes.Value.ToString();
                            }
                            if (Model.Año.HasValue)
                            {
                                fechaSec += "-" + Model.Año.Value.ToString();
                            }
                            else if (Model.Mes.HasValue && Model.Mes.Value <= 12 && Model.Mes.Value > 0)
                            {
                                fechaSec = new DateTime(2015, Model.Mes.Value, 1).ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("es"));
                            }else
                            {
                                fechaSec = null;
                            }
                            if (string.IsNullOrEmpty(fechaSec))
                            {
                            @:S.F.
                            }
                            else
                            {
                                @fechaSec
                            }
                        }
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Contenido)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Contenido)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SeriesNombre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SeriesNombre)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NumCaja)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NumCaja)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NumTomo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NumTomo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Folio)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Folio)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Libro)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Libro)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NumExpediente)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NumExpediente)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NumCarpeta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NumCarpeta)
                    </dd>
                    @if (Model.Origen == 2)
                    {
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Lugar)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Lugar)
                        </dd>

                        <dt class="col-sm-2">
                            @Fondos_Antiguos.Localization.CatalogoRes.MateriaNombre
                        </dt>
                        <dd class="col-sm-10">
                            @Model.HistMaterias
                        </dd>
                    }
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Observaciones)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Observaciones)
                    </dd>
                </dl>
            </div>
            @if (Model.Origen == 0)
            {
                <div class="col-sm-2 py-3 border-left border-bottom">
                    @Html.Partial("VerMateria", Model.ListaMaterias)
                    @Html.Partial("VerLugar", Model.ListaLugares)
                </div>
            }
        </div>
    }
</div>
<div class="container py-3">
    <a href="@{
    if(Context.Request.Headers["Referer"]!= null)
    {
        @Context.Request.Headers["Referer"].ToString();
    }
    else
    {
        @Url.Action("Index");
    }
    }" class="btn btn-outline-secondary">@Fondos_Antiguos.Localization.ComunResource.lnkVolverALista</a>
</div>