@model Fondos_Antiguos.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Cambiar contraseña";
}

    <div class="col-sm-4 align-content-center">
        @{
            using (Html.BeginForm("CambiarContraseña", "Cuenta", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                @Html.HiddenFor(modelItem => modelItem.IdUsuario)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @style = "style=\"padding-bottom: 10px; \"" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "style=\"padding-bottom: 10px; \"" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cambiar" class="btn btn-primary" />
                </div>
            }
        }
    </div>
