@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewData["Title"] = "Lista de roles";
}
@Html.ValidationSummary()
<div class="row">
    <div class="col-2">
        <ul class="nav nav-pills nav-stacked">
            @if (FaAuthorizeAttribute.IsAuthorized(this.User, "Cuenta", "ListaCuentas", Context))
            {
                <li>
                    @Html.ActionLink("Lista de Cuentas", "ListaCuentas")
                </li>
            }
            <li>
                <label>Lista de Roles</label>
            </li>
        </ul>
    </div>
    <div class="col-10">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" aria-expanded="true">
                <ul class="navbar-nav mr-auto">
                    @if (FaAuthorizeAttribute.IsAuthorized(this.User, "Cuenta", "RegistrarRol", Context))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Agregar Nuevo", "RegistrarRol", null, new { @class = "btn btn-outline-dark" })
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Fondos_Antiguos.Localization.CuentaResource.RolNombre
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.HiddenFor(modelItem => item.Id)
                            @if (FaAuthorizeAttribute.IsAuthorized(this.User, "Cuenta", "VerRol", Context))
                            {
                                @Html.ActionLink(Fondos_Antiguos.Localization.ComunResource.btnVer, "VerRol", new { id = item.Id }, new { @class = "btn btn-link", style = "margin-right: 5px" })
                            }
                            @{
                                if (!item.Name.Equals("Admin") && FaAuthorizeAttribute.IsAuthorized(this.User, "Cuenta", "EliminarRol", Context))
                                {
                                    using (Html.BeginForm("EliminarRol", "Cuenta", FormMethod.Post, new { id = "frmDelete" + item.Name }))
                                    {
                                        var r = "frmDelete" + item.Name;
                                        <input type="hidden" form="@r" name="borrarIdusuario" value="@item.Id" />
                                        <button type="submit" class="btn btn-link">Borrar</button>
                                    }
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>