@model IEnumerable<Fondos_Antiguos.Models.CuentaModel>
@{
    ViewData["Title"] = "Lista de cuentas";
}
@Html.ValidationSummary()
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Lista de Cuentas</a>
    </li>
    @if (FaAuthorizeAttribute.IsAuthorized(this.User, "Cuenta", "ListaRoles", Context))
    {
        <li class="nav-item">
            @Html.ActionLink("Lista de Roles", "ListaRoles", null, new { @class = "nav-link" })
        </li>
    }
</ul>
<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div id="navbarSupportedContent" aria-expanded="true">
                <ul class="navbar-nav mr-auto">
                    @if (FaAuthorizeAttribute.IsAuthorized(this.User, "Cuenta", "Registrar", Context))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Agregar Nuevo", "Registrar", null, new { @class = "btn btn-outline-dark" })
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Fondos_Antiguos.Localization.CuentaResource.Usuario
                    </th>
                    <th>
                        @Fondos_Antiguos.Localization.CuentaResource.RolNombre
                    </th>
                    <th class="d-none d-sm-table-cell">
                        @Fondos_Antiguos.Localization.CuentaResource.FechaIngreso
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Roles)
                        </td>
                        <td class="d-none d-sm-table-cell">
                            @Html.DisplayFor(modelItem => item.FechaIngreso)
                        </td>
                        <td>
                            @Html.HiddenFor(modelItem => item.IdUsuario)
                            @Html.ActionLink(Fondos_Antiguos.Localization.ComunResource.btnVer, "Editar", new { idUsuario = item.IdUsuario }, new { @class = "btn btn-link" })
                            @{
                                if (!item.Usuario.Equals(this.User.Identity.Name, StringComparison.CurrentCultureIgnoreCase))
                                {
                                    using (Html.BeginForm("Eliminar", "Cuenta", FormMethod.Post, new { id = "frmDelete" + item.IdUsuario }))
                                    {
                                        var r = "frmDelete" + item.IdUsuario;
                                        <input type="hidden" form="@r" name="borrarIdusuario" value="@item.IdUsuario" />
                                        <button type="submit" class="btn btn-link">Borrar</button>
                                    }
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>