@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Registrar Rol";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("RegistrarRol", "Cuenta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label">@Fondos_Antiguos.Localization.CuentaResource.NombreRol</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => Model.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary btn-default" value="Registrar" />
            @Html.ActionLink(Fondos_Antiguos.Localization.ComunResource.btnCancelar, "ListaRoles", null, new { @class = "btn btn-outline-secondary" })
        </div>
    </div>
}