@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Fondos Antiguos</title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <table style="max-width:210px;">
                        <tr>
                            <td rowspan="5" class="float-none my-0">
                                <img src="~/Content/logo-arquisanjose-122x162.png" style="height: 3.8rem; margin: 0px 10px 0px 0px; line-height:0px" />
                            </td>
                        </tr>
                        <tr style="padding-top:0px">
                            <td class="text-justify" style="padding: 4px 0px 5px 0px;font-size: 10px;line-height: 2px;">
                                Archivo Histórico
                            </td>
                        </tr>
                        <tr>
                            <td class="text-justify" style="padding: 4px 0px 0px 0px; font-size: 10px; line-height: 10px;">
                                Arquidiocesano Monseñor
                            </td>
                        </tr>
                        <tr>
                            <td class="text-justify" style="padding: 4px 0px 0px 0px; font-size: 10px; line-height: 10px;">
                                Bernardo Augusto Thiel
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="line-height: 10px; margin:0px;padding: 10px 0px 0px 0px">Fondos Antiguos</p>
                            </td>
                        </tr>
                    </table>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @Html.Partial("_LoginPartial")
                    <hr />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Catálogo", "Index", "Catalogo", null, new { @class = "nav-link text-dark" })
                        </li>
                        @{
                            if (!string.IsNullOrEmpty(User.Identity.Name) && FaAuthorizeAttribute.IsAuthorized(this.User, "Cuenta", "ListaCuentas", Context) || FaAuthorizeAttribute.IsAuthorized(this.User, "Cuenta", "ListaRoles", Context))
                            {
                                <li class="nav-item">
                                    @Html.ActionLink("Manejar Cuentas", "ListaCuentas", "Cuenta", null, new { @class = "nav-link text-dark" })
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <footer class="page-footer font-small blue">
        <div class="media-container-row">
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
        <div class="media-container-row mbr-white">
            <div class="col-sm-6 copyright py-3">
                <p class="mbr-text mbr-fonts-style display-7"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"></a><br>Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">licencia de Creative Commons Reconocimiento-NoComercial-SinObraDerivada 4.0 Internacional</a>.</p>
            </div>
        </div>
    </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
